.outerDiv{
    display: flex;
    flex-direction: row;
   
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.photoPart{
    height: 220px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    padding-top: 20px;
}
#photo{
    height: 200px;
    width: 200px;

}