.signup-ruckgrund{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    align-items: center;
    align-content: center;
    border-radius: 16px;
    overflow: visible;
    perspective: 1px;
    
}

.signupForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-erstediv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label{
    
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.signup-bottom{
    width: 424px;
    height: 3rem;
    background-color: #f65858;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input{
    width: 400px;
    border-color: rgba(44, 44, 44, 0.1);
    border-radius: 20px;
    height: 5px;
    padding: 10px;
    font-size: 16px;
}

.divdiv{
    display: flex;
    flex-direction: row;
}

.signup-button-div{
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
}

#signupbutton{
    padding-top: 20px;
}