.outerDiv{
    display: flex;
    flex-direction: row;
}
.photoPart{
    
    padding-right: 30px;
    padding-bottom: 20px;
}
#photo{
    height: 200px;
    width: 200px;

}

.mainTextGroupAll{
color: black;
border: none;
}

#aboutDivGroupAll{
    color: black;
}

#theRestGroupAll{
    color: black
}

#title{
    color:  black;
    font-style: normal
    
}
