.outerDiv{
    display: flex;
    flex-direction: row;
    
    
}
.photoPart{
    
    padding-right: 30px;
    padding-bottom: 10px;
}
#photo{
    height: 200px;
    width: 200px;

}

.mainTextGroupAll{
color: black;
border: none;
}

#aboutDivGroupAll{
    color: black;
}

#theRestGroupAll{
    color: black
}

#title{
    color:  black;
    font-style: normal
    
}

.otherStuffDivGroupAll{
    margin-top: 10px;
}

.outerDiv{
    border-bottom: solid 1px rgba(0, 0, 0, 0.13);
}