


.formMain{
    margin-top: 15vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 20vw;
    margin-right: 20vw;
}
.TextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-bottom: 20px;
}

#cityLabel{
    margin-right: 4px;
}

.partDiv{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
.secondPart{
    display: flex;
    flex-direction: column;
}

.label{
    margin-right: 4px;
}
.default{
   
    top: 92%;
    right: 0;
    left: 75%;
    bottom: 0;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 19px;
    background-color:#f65858;
    border-color: #f65858;
    fill: #ffff;
    color: #ffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}

.return{
    top: 92%;
    right: 0;
    left: 75%;
    bottom: 0;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 19px;
    background-color:#f65858;
    border-color: #f65858;
    fill: #ffff;
    color: #ffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
   
}

.cityDiv{
    margin-left: 4px;
}