.profile-dropdown {position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
  margin-right: 126px;
  margin-top: 50px;
  margin-bottom: 30px;
  min-width: 110px;
  border: rgba(0, 0, 0, 0.2) solid 1px;
  border-radius: 8%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
  color: whitesmoke;
  background-color: #f53535;

}



  .profileButton{
    border-width: 1px;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: white;
  }

  .profileNavName{
    margin-top: 10px;
    margin-right: 20px;
    list-style-type: none;
  }

  #profileNavButton{
    list-style-type: none;
  }

  .profileButtonp{
    width: 80px;
    height: 24px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: lightgreen;
    border-radius: 6px;
    border-width: 1px;
    border-color: #f65858;

  }

  